In [ ]:
# Student: Daniel Foulen
# Class: IS 362
# Date: 1/31/2026

In [6]:
# =========================
# HW 1 – Python Basics
# =========================

print("QUESTION 1: Combine variables\n")

one = 1
two = 2
three = 3
four = 4
can = "can"
do = "do"
python = "python"
more = "more"

print(one, two, three, four, can, do, python, more)

QUESTION 1: Combine variables

1 2 3 4 can do python more

In [7]:
# =========================
print("\nQUESTION 2: Multiply numbers\n")

number1 = 15
number2 = 30

result = number1 * number2
print("The result is", result)

QUESTION 2: Multiply numbers

The result is 450

In [8]:
# =========================
print("\nQUESTION 3: First and last number comparison\n")

def first_last_same(numbers):
    return numbers[0] == numbers[-1]

numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

print("Given list:", numbers_x)
print("result is", first_last_same(numbers_x))

print("Given list:", numbers_y)
print("result is", first_last_same(numbers_y))

QUESTION 3: First and last number comparison

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

In [9]:
# =========================
print("\nQUESTION 4: Numbers divisible by 5\n")

numbers = [10, 20, 33, 46, 55]

print("Given list is", numbers)
print("Divisible by 5")

for num in numbers:
    if num % 5 == 0:
        print(num)

QUESTION 4: Numbers divisible by 5

Given list is [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

In [10]:
# =========================
print("\nQUESTION 5: Count substring occurrences\n")

str_x = "Anjali is good developer. Anjali is a writer"
count = str_x.count("Anjali")

print("Anjali appeared", count, "times")

QUESTION 5: Count substring occurrences

Anjali appeared 2 times

In [11]:
# =========================
print("\nQUESTION 6: Print number pattern\n")

for i in range(1, 6):
    print(str(i) * i)

QUESTION 6: Print number pattern

1
22
333
4444
55555

In [12]:
# =========================
print("\nQUESTION 7: Multiplication table (1 to 10)\n")

for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end="\t")
    print()

QUESTION 7: Multiplication table (1 to 10)

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [13]:
# =========================
print("\nQUESTION 8: NumPy – Kelvin to Celsius\n")

import numpy as np

Temp_K = [390.65, 107.52, 225.25, 275.98, 318.18, 88.45]
temp_array = np.array(Temp_K)

temp_celsius = temp_array - 273.15
print("Temperatures in Celsius:")
print(temp_celsius)

QUESTION 8: NumPy – Kelvin to Celsius

Temperatures in Celsius:
[ 117.5  -165.63  -47.9     2.83   45.03 -184.7 ]

In [14]:
# =========================
print("\nQUESTION 9: Pandas DataFrame\n")

import pandas as pd

data = {
    "Student": ["Tommy", "Fred", "Gail", "Daniel", "Randy", "Ariel"],
    "Hair Color": ["Brown", "Grey", "Blonde", "Brown", "Black", "Brown"],
    "Eye Color": ["Hazel", "Green", "Blue", "Brown", "Hazel", "Blue"],
    "Weight (kg)": [60, 80, 76, 70, 88, 85]
}

df = pd.DataFrame(data)

print("Full DataFrame:")
print(df)

print("\nHair Color column (Series):")
print(df["Hair Color"])

print("\nEye Color column (DataFrame):")
print(df[["Eye Color"]])

print("\nStudent and Weight columns:")
print(df[["Student", "Weight (kg)"]])

print("\nSecond through fourth observations:")
print(df.iloc[1:4])

QUESTION 9: Pandas DataFrame

Full DataFrame:
  Student Hair Color Eye Color  Weight (kg)
0   Tommy      Brown     Hazel           60
1    Fred       Grey     Green           80
2    Gail     Blonde      Blue           76
3  Daniel      Brown     Brown           70
4   Randy      Black     Hazel           88
5   Ariel      Brown      Blue           85

Hair Color column (Series):
0     Brown
1      Grey
2    Blonde
3     Brown
4     Black
5     Brown
Name: Hair Color, dtype: object

Eye Color column (DataFrame):
  Eye Color
0     Hazel
1     Green
2      Blue
3     Brown
4     Hazel
5      Blue

Student and Weight columns:
  Student  Weight (kg)
0   Tommy           60
1    Fred           80
2    Gail           76
3  Daniel           70
4   Randy           88
5   Ariel           85

Second through fourth observations:
  Student Hair Color Eye Color  Weight (kg)
1    Fred       Grey     Green           80
2    Gail     Blonde      Blue           76
3  Daniel      Brown     Brown           70