# Week 3 Assignment #3: NYC to Key West (Cumulative Miles)
Student: Daniel Foulen
Class: IS 362
Date: 2/14/2026

Suppose I rode a bicycle from New York City to Key West, Florida. Each day I recorded my bicycle odometer reading, which shows the **cumulative** total miles ridden so far.

This notebook stores those cumulative readings in a pandas Series and computes the **daily miles ridden** from them.

## Cumulative vs Daily Miles

The odometer records the total miles ridden at the end of each day. For example, if the first two readings are `55` and `120`, then:

- Day 1 miles = `55`
- Day 2 miles = `120 - 55 = 65`

So to recover daily mileage, we compute the difference between consecutive cumulative values.

In [8]:
import pandas as pd

## Cumulative Odometer Readings (End of Each Day)

Below is an example set of cumulative miles recorded over 7 days.

In [9]:
cumulative_miles = pd.Series(
    [55, 120, 190, 250, 310, 380, 450],
    name="Cumulative Miles"
)

cumulative_miles

0     55
1    120
2    190
3    250
4    310
5    380
6    450
Name: Cumulative Miles, dtype: int64

## Daily Miles Ridden

To compute miles ridden each day, we take the difference between each day’s cumulative value and the previous day’s cumulative value.

In pandas, `.diff()` computes this difference. The first day has no previous value, so we replace the missing first result with the first day’s cumulative miles.

In [10]:
daily_miles = cumulative_miles.diff()
daily_miles.iloc[0] = cumulative_miles.iloc[0]
daily_miles.name = "Miles Ridden That Day"

daily_miles

0    55.0
1    65.0
2    70.0
3    60.0
4    60.0
5    70.0
6    70.0
Name: Miles Ridden That Day, dtype: float64

## Presenting the Results

The table below shows both the cumulative miles (odometer reading) and the miles ridden each day side by side.

In [11]:
summary = pd.DataFrame({
    "Cumulative Miles": cumulative_miles,
    "Miles Ridden That Day": daily_miles
})

summary.index = summary.index + 1
summary.index.name = "Day"

summary

     Cumulative Miles  Miles Ridden That Day
Day
1                  55                   55.0
2                 120                   65.0
3                 190                   70.0
4                 250                   60.0
5                 310                   60.0
6                 380                   70.0
7                 450                   70.0

## Conclusion

By storing cumulative odometer readings in a pandas Series and taking differences between consecutive days, we can recover the total miles ridden each day in a clear and reproducible way.